/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
img{
    max-width: 100%;
    max-height: 100%;
}

a{
    list-style: none; 
    text-decoration: none;
}

body{
    font-family: 'DM Sans', sans-serif;
    
}
/* DEBUG */

.debug{
    border: black dashed 2px;
}

.debugwhite{
    border: white dashed 2px;

}
 
/* HEADER */

.navbar{
    background-color: #255EE9;
    min-height: 100px;
    font-size: 18px;
    letter-spacing: -1px;
    
}


.hero{
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    
}




.navbar > .row > .col:nth-child(odd) {
    max-width: 200px;
}

.col-links{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 500;
    max-width: 500px;
    flex-grow: 1;
    flex-wrap: wrap;
}

.col-header{
    min-width: 124px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
}

main .container{
    padding: 100px 40px;
}

.link{
    color: #F1F4FC;
    
}


.button{
    padding: 8px 14px;
    border-radius: 26px;
    }
.button-white{
    color: black;
    background-color: white;

}
.button-black{
    color: white;
    background-color: black;
}

.column-card{
    flex-direction: column;
   

}

.row{
    
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;

    
}

.buttons:first-child{
    margin-right: 10px;
}

.buttons:last-child{
    margin-left: 10px;
}

.hero > .container{
    max-width: 800px;
    
}


.col-2{
    flex-basis: (calc(100% / 12) * 2);
}






/* MAIN-SECTION */

.main-bg-white{
    background-color: white;
    padding: 100px 0;
    
}



.card-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}
/* .chat{
    text-align: left;
}

.friendlist{
    text-align: right;
} */

.flex-end{
    justify-content: flex-end;
}
.card-title{

font-size: 44px;
}

.card-body{
font-size: 20px;
}

/* .justify-end{
    justify-content: flex-end;
} */
.col-4{

    flex-basis: calc((100% / 12) * 4);

}

.col-8{
    
    flex-basis: calc((100% / 12) * 8 );
}

.col-5.debug{
    background-color: #1E90FF;
}

.col-7.debug{
    background-color: #FFC0CB;
}

.col-6{
    flex-basis: ((100% / 12) * 6);
}
.col-3{
    flex-basis: ((100% / 12) * 3);
}

.main-bg-grey{
    background-color: #F6F6F6;
}

.main-section-bgblack.debugwhite{
    background-color: #23272a;
    border-bottom: 2px solid white;
}


.col-3{
    flex-basis: calc((100% / 12) * 3);
}

.text-centere{
    text-align: center;
}

.col-video{
    text-align: center;
}
