/* SETTINGS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
img{
    max-width: 100%;
    max-height: 100%;
}

a{
    list-style: none; 
    text-decoration: none;
}

body{
    font-family: 'DM Sans', sans-serif;
    
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
}
 
/* HEADER */

.navbar{
    background-color: #255EE9;
    min-height: 100px;
    font-size: 18px;
    letter-spacing: -1px;
    
}

.col-links{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 500;
    max-width: 500px;
    flex-grow: 1;
    flex-wrap: wrap;
}

.navbar > .row > .col:nth-child(odd) {
    max-width: 200px;
}

.link{
    color: #F1F4FC;
    
}

.button{
    padding: 8px 14px;
    border-radius: 26px;
    }
.button-white{
    color: black;
    background-color: white;

}
.button-black{
    color: white;
    background-color: black;
}

.buttons{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.buttons:first-child{ 
    margin-right: 10px;
}
    
.buttons:last-child{
    margin-left: 10px;
}
      
/* MAIN */


.hero{
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    
}

main .container{
    padding: 100px 40px;
}

.column-card{
    flex-direction: column;
   

}

.row{
    
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.hero > .container{
    max-width: 800px;
    
}




.main-bg-white{
    background-color: white;
    padding: 100px 0;
    
}

.main-bg-grey{
    background-color: #F6F6F6;
}

.card-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.card-title{

font-size: 44px;
}

.card-body{
font-size: 20px;
}

.text-centere{
    text-align: center;
}



/* COLUMN */

.col-2{
    flex-basis: (calc(100% / 12) * 2);
}

.col-3{
    flex-basis: ((100% / 12) * 3);
}


.col-4{

    flex-basis: calc((100% / 12) * 4);

}

.col-6{
    flex-basis: ((100% / 12) * 6);
}

.col-8{
 
    flex-basis: calc((100% / 12) * 8 );
}

.col-video{
    text-align: center;
}






